 
 *{
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 300px;
    position: relative;
}
.container .menu-btn{
    position: absolute;
    top: 10px;
    left: -110px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: #f2f2f2;
    background-color: #333;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid;
    transition: all 0.5s ease-in;

}
.container .menu-btn:hover{
    background-color: #4a4a4a;
}
#btn{
    display: none;
}
#btn:checked ~ .menu-btn{
    left: 0px;
}
#btn:checked ~ .menu-btn i:before{
    content:"\f00d";
}

#sidebar{
    position:fixed;
    height: 100%;
    width: 270px;
    background-color: darkgrey;
    overflow: hidden;
    left: -270px;
    transition: all 0.5s ease-in-out;
}

#btn:checked ~ #sidebar{
    left: 0;
}
 #btn:checked ~ #sidebar a{
    color: antiquewhite;
}
.title{
    color: #f2f2f2;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: darkgrey;
}
.list-items li{
    height: 100%;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    border-top:1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
}
.list-items li:hover{
     border-top:transparent;
    border-bottom:transparent;
    box-shadow: 0 0 10px 5px;
   color: red;
     transition: all 0.5s ease-in;
     
}
.list-items li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.list-items li a i{
    padding-right: 19px;
}
.icons{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.icons a{
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #f2f2f2;
    background:#4a4a4a ;
    border: 1px solid green;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    transition: all 0.3s ease-in;
}
.icons a:hover{
    background-color: green;
}.navebar{
    position: fixed;
   height: 60px;
   width: 100%;
   flex-wrap: wrap;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.a a{
    color: aliceblue;
    text-decoration: none;    
}
.a fas fa-bars{
    left: 0%;
}
.login{
    height: 25px;
    width: 60px;
    background-color:aliceblue;
    border: #4a4a4a;
     text-align: center;
     border-radius: 9px;
    
}
.login a{
    text-decoration: none;
     color: #0f1111;
}
.main{
    line-height: 80px;
    font-size: 22px;
    padding-left:19px;
    text-align: center;
    text-transform: capitalize;
}
.wall{
    height: 450px;
    background-color:antiquewhite;
    background-image: url("walll.jpg");
    background-size: contain;
    display:flex;
    justify-content:center;
    align-items:center;
}







